<!doctype html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <nav>
    NAV
  </nav>

  <div>
    <header>
      {% block header %}{% endblock %}
    </header>
    <div>
      {% block content %}{% endblock %}
    </div>
    <script src="http://127.0.0.1:35729/livereload.js"></script>
  </div>

  <footer>
    FOOTER
  </footer>
</body>
