<!doctype html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <div class="page-container">
    <script src="http://127.0.0.1:35729/livereload.js"></script>
    <nav>
      NAV
    </nav>

    <div class="content-wrap">
      <header>
      {% block header %}{% endblock %}
      </header>
      <div>
      {% block content %}{% endblock %}
      </div>
    </div>
    <footer>
    FOOTER
    </footer>
  </div>
</body>
